<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Web Application Project</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='microblog.css') }}">
</head>

<body class="{% block body_class %}{% endblock %}">
  <header>
    <nav class ="topbar">
      <h1>Web Application Project Collin + Noa</h1>
      <div class ="nav-links">
          {% if current_user.is_authenticated %}
        <a href="{{ url_for('main.home') }}" class="btn-home">Home</a>
        <a href = " {{ url_for('main.index') }}" class="btn-trips">Trips</a>
        <a href="{{ url_for('main.user_profile', user_id=current_user.id) }}" class="btn-profile">Profile</a>
        <a href="{{ url_for('auth.logout') }}" class="btn-logout">Logout</a>
      {% else %}
        <a href="{{ url_for('auth.signup') }}" class="btn-signup">Sign Up</a>
        <a href="{{ url_for('auth.login') }}" class="btn-login">Log In</a>
      {% endif %}
      </div>
    </nav>
  </header>

  <section class="content">
    {% block content %}{% endblock %}
  </section>

  <footer>
    <small>Developed for Web applications</small>
  </footer>
</body>
</html>