<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Web Application Project</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='microblog.css') }}">
    </head>
    <body class="{% block body_class %}{% endblock %}">
        <header>
            <h1>Web Application Project Collin + Noa</h1>
            <a href="{{ url_for('main.index') }}">Home</a>
        </header>
        <section class="content">
            {% block content %}{% endblock %}
        </section>
        <footer><small>Developed for Web applications</small></footer>
    </body>
</html>







