{% extends "base.html" %}

{% block content %}
<section class="home-page">


  <p class="description-home">
    In this page, you can see your current trips and join open trips!<br>
  </p>


  <div class="home-columns">

      <!-- My Trips -->
      <div class="home-column">
          <h2 class="column-title">My Trips</h2>

          {% if my_trips %}
              {% for trip in my_trips %}
                  <div class="trip-card">
                      <a href="{{ url_for('main.trip', trip_id=trip.id) }}">
                          <h3>{{ trip.destination_city.name }}</h3>
                      </a>

                      <p>{{ trip.description }}</p>
                  </div>
              {% endfor %}
          {% else %}
              <p>You are not participating in any trips yet.</p>
          {% endif %}
      </div>


      <div class="home-column">
          <h2 class="column-title">Open Trips</h2>

          {% if open_trips %}
              {% for trip in open_trips %}

                  <div class="trip-card">
                    <div class="trip-card-header">
                        <a href="{{ url_for('main.trip', trip_id=trip.id) }}">
                            <h3>{{ trip.destination_city.name }}</h3>
                        </a>
                        <span class="trip-status">{{ trip.status }}</span>
                    </div>

                      <p>{{ trip.description }}</p>
                  </div>

              {% endfor %}
          {% else %}
              <p>No open trips available.</p>
          {% endif %}
      </div>

  </div>

</section>
{% endblock %}
