{% extends 'base.html' %}

{% block content %}
<div class = "container">
        <h1>Welcome to Microblog Travel!</h1>
        <p>Explore and share your travel experiences with others.</p>
    <section>
        <div>
            {% if trips %}
                {% include 'trips_template.html' %}
            {% else %}
                <p>No trips available.</p>
            {% endif %}
        </div>
    </section>
    <section class = "create-trips">
        <a href="{{ url_for('main.create_trip') }}" class="btn btn-success">Create New Trip</a>
    </section>
</div>
{% endblock %}
