{% extends 'base.html' %}

{% block content %}
<div class = "container_title">
        <h1>Welcome to SobremesApp</h1>
        <p>This is your place to explore the Spanish food, join trips and meet people!</p>
    <section class = "create-trips">
        <a href="{{ url_for('main.create_trip') }}" class="btn-success">Create New Trip</a>
    </section>
    <section>
        <div>
            {% if trips %}
                {% include 'trips_template.html' %}
            {% else %}
                <p>No trips available.</p>
            {% endif %}
        </div>
    </section>

</div>
{% endblock %}
