{% extends 'base.html' %}
{% block content %}
    <section class ="profile">
    <h1 class="header-profile">{{ user.name }} 's Profile</h1>

    <div class="profile-card">
        <div class="profile-vertical">
            <div class="profile-field" style="text-align: center;">
                <img src="{{ user.profile_picture if user.profile_picture else 'https://plus.unsplash.com/premium_vector-1682269284255-8209b981c625?q=80&w=1160&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D' }}"
                    alt="{{ user.name }}" class="profile-photo-preview">

              </div>

            <div class="profile-field">
                <h4>Email</h4>
                <div class="profile-value">{{ user.email }}</div>
            </div>

            <div class="profile-field">
                <h4>Name</h4>
                <div class="profile-value">{{ user.name }}</div>
            </div>

            <div class="profile-field">
                <h4>User ID</h4>
                <div class="profile-value">{{ user.id }}</div>
            </div>

            <div class="profile-field">
                <h4>About Me</h4>
                <div class="profile-value">{{ user.description }}</div>
            </div>

        </div>
    </div>


   <h2 class="edit-profile-header">Edit your details</h2>
 <form class="profile-form"
        action="{{ url_for('main.edit_user', user_id=user.id) }}"
        method="post"
        enctype="multipart/form-data"
        novalidate>

    <label>
      Email
      <input type="email" name="email" value="{{ user.email }}" required>
    </label>

    <label>
      Name
      <input type="text" name="name" value="{{ user.name }}" maxlength="64" required>
    </label>

    <label>
      Description
      <textarea name="description" rows="3" maxlength="512"
                placeholder="Tell others about you">{{ user.description or "" }}</textarea>
    </label>

      <label>
      Profile Photo
      <input type="file" name="profile_picture" accept="image/*">
    </label>

    <fieldset>
      <legend>Change password (optional)</legend>
      <input type="password" name="password" placeholder="New password">
      <input type="password" name="password2" placeholder="Confirm new password">
    </fieldset>

    <button class="btn btn--primary" type="submit">Save changes</button>
  </form>

</section>
{% endblock %}