{% extends 'base.html' %}
{% block content %}
<section class="profile">
  <h1>{{ user.name }}'s Profile - This is readonly(testing purpose)</h1>

  <div class="profile-card">
    <dl class="readonly">
      <div><dt>User-ID</dt><dd>{{ user.id }}</dd></div>
      <div><dt>Email Address</dt><dd>{{ user.email }}</dd></div>
      <div><dt>Name</dt><dd>{{ user.name }}</dd></div>
      <div><dt>About me:</dt><dd>{{ user.description }}</dd></div>
    </dl>
  </div>


  {% if is_owner %}
    <div style="margin-top: 1rem;">
      <a class="edit-profile-btn" href="{{ url_for('main.edit_profile', user_id=user.id) }}">
        Edit profile
      </a>
    </div>
  {% endif %}

  <h2>Posts published by {{ user.name }}</h2>
  <ul class="post-list">
    {% for p in user.posts %}
      <li>
        <a href="{{ url_for('main.user_profile', user_id=p.user.id) }}">{{ p.user.name }}</a>:
        {{ p.text }} <small>· {{ p.timestamp.strftime('%Y-%m-%d %H:%M') }}</small>
      </li>
    {% else %}
      <li>No posts yet.</li>
    {% endfor %}
  </ul>
</section>
{% endblock %}
